name: Gradle Build

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: '17'
      artifact_folders:
        type: string
        required: true
    secrets:
      DISCORD_WEBHOOK:
        description: "The discord webhook to post status to"
        required: true
      GRADLE_PROPERTIES:
        description: "The contents of the gradle.properties file with credentials for the repo"
        required: true

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: write

    steps:
    - name: Clean Workspace
      uses: AutoModality/action-clean@v1.1.0
    - uses: actions/checkout@v2
    - name: Set up JDK ${{inputs.java_version}}
      uses: actions/setup-java@v2
      with:
        java-version: '${{inputs.java_version}}'
        distribution: 'adopt'

    - name: Restore gradle.properties
      env:
        GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
      shell: bash
      run: |
        mkdir -p ~/.gradle/
        echo "${GRADLE_PROPERTIES}" > ~/.gradle/gradle.properties

    - name: Build
      run: |
        ./gradlew build publish --stacktrace --gradle-user-home ~/.gradle/

    - name: Move Artifacts
      env:
        FOLDERS: ${{inputs.artifact_folders}}
      run: |
        mkdir artifacts
        for f in $FOLDERS; do
          if ls "$f/build/libs/*-all.jar" 1> /dev/null 2>&1; then
            # using shadow, only take the *-all.jar files
            cp "$f/build/libs/*-all.jar" artifacts/
            rename -- "-all.jar" ".jar" artifacts/* # remove -all from the end of the jar names
          else
            # not using shadow, take any jar
            cp $f/build/libs/*.jar artifacts/
          fi
        done

    - name: Extract Build Variables
      id: extract_variables
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        echo "##[set-output name=project_version;]$(./gradlew properties -q | grep "version:" | awk '{print $2}')"

    - name: Create Draft Release
      uses: softprops/action-gh-release@v1
      id: create_release
      if:
        contains('
          refs/heads/main
          refs/heads/master
        ', github.ref)
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: "${{ steps.extract_variables.outputs.branch }}-${{ steps.extract_variables.outputs.project_version }}-${{ github.run_number }}"
        tag_name: "build-${{ github.run_number }}"
        draft: true
        files: artifacts/*
        
    - name: Publish Release
      uses: eregon/publish-release@v1
      if:
        contains('
          refs/heads/main
          refs/heads/master
        ', github.ref)
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        release_id: ${{ steps.create_release.outputs.id }}

    - name: Actions Status Discord
      uses: sarisia/actions-status-discord@v1.8.6
      if: always()
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
