name: Maven Build

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: '17'
      artifact_folders:
        type: string
        required: true

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{inputs.java_version}}
      uses: actions/setup-java@v2
      with:
        java-version: '${{inputs.java_version}}'
        distribution: 'adopt'

    - name: Restore gradle.properties
      env:
        GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
      shell: bash
      run: |
        mkdir -p ~/.gradle/
        echo "${GRADLE_PROPERTIES}" > ~/.gradle/gradle.properties

    - name: Build
      run: |
        ./gradlew build publish --stacktrace --gradle-user-home ~/.gradle/

    - name: Move Artifacts
      env:
        FOLDERS: ${{inputs.artifact_folders}}
      run: |
        mkdir artifacts
        for f in $FOLDERS;
          if ls $f/build/libs/*-all.jar 1> /dev/null 2>&1; then
            # using shadow, only take the *-all.jar files
            cp $f/build/libs/*-all.jar artifacts/
            rename.ul -- "-all.jar" ".jar" artifacts/* # remove -all from the end of the jar names
          else
            # not using shadow, take any jar
            cp $f/build/libs/*.jar artifacts/
          fi
        done

    - name: Extract Build Variables
      id: extract_variables
      run: |
        echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        echo "##[set-output name=project_version;]$(./gradlew properties -q | grep "version:" | awk '{print $2}')"

    - name: Release
      uses: softprops/action-gh-release@v1
      if:
        contains('
          refs/heads/main
          refs/heads/master
        ', github.ref)
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: "${{ steps.extract_variables.outputs.branch }}-${{ steps.extract_variables.outputs.project_version }}-${{ github.run_number }}"
        tag_name: "build-${{ github.run_number }}"
        files: artifacts/*

    - name: Actions Status Discord
      uses: sarisia/actions-status-discord@v1.8.6
      if: always()
      with:
        webhook: ${{ secrets.DISCORD_WEBHOOK }}
